CompileFlags:
  Remove:
    - "--target=*"
    - "-U__clang__"
    - "-D__PROGRAM_START=*"
    - "-std:c++17"
    - "-Ic:\\Users\\gtc\\AppData\\Local\\Keil_v5\\ARM\\ARMCLANG/include"
    - "-Ic:\\Users\\gtc\\AppData\\Local\\Keil_v5\\ARM\\ARMCLANG/include/libcxx"
    - "-IC:\\Users\\gtc\\AppData\\Local\\Keil_v5\\ARM\\ARMCLANG/include"
    - "-IC:\\Users\\gtc\\AppData\\Local\\Keil_v5\\ARM\\ARMCLANG/include/libcxx"
    - "-IE:\\LLVM\\lib\\clang\\21\\include"
    - "-D_WIN32"
    - "-D_WIN64"
    - "-D_MSC_VER=*"
    - "-D_MSVC_LANG=*"
    - "-fms-*"
    - "-fdelayed-template-parsing"
  Compiler: /usr/bin/g++
  Add:
    - "--target=x86_64-linux-gnu"
    - "-Wno-implicit-int"
    - "-DLVGL_SIMULATOR"
  CompilationDatabase: build
Index:
  Background: Build
Diagnostics:
  Suppress:
    # - unused-includes
    - unknown_typename
    - unknown_typename_suggest
    - typename_requires_specqual
    - using_decl_conflict
    - macro_redefined
    - redefinition
    - conflicting_types
