CompileFlags:
  Remove:
    - '-std:c++17'
  Add:
    - '-Wno-implicit-int'
    - '-std=c++17'
    - '-fms-compatibility'
    - '-fms-extensions'
    - '-fdelayed-template-parsing'
    - '-fms-compatibility-version=19'
    - '-D_MSC_VER=1900'
    - '-D_WIN32'
    - '-D_WIN64'
    - '-D_MSVC_LANG=201703L'
  CompilationDatabase: build
QueryDriver:
  - 'C:\Program Files\LLVM\bin\clang.exe'
  - 'C:\Program Files\LLVM\bin\clang++.exe'
  - 'C:\PROGRA~1\LLVM\bin\clang.exe'
  - 'C:\PROGRA~1\LLVM\bin\clang++.exe'
  - 'C:\Program Files\LLVM\bin\CLANG_~1.EXE'
Index:
  Background: Build
Diagnostics:
  Suppress:
    # - unused-includes
    - unknown_typename
    - unknown_typename_suggest
    - typename_requires_specqual
    - using_decl_conflict
    - macro_redefined
    - redefinition
    - conflicting_types