CompileFlags:
  CompilationDatabase: build/clangd
  Add:
    - --target=arm-none-eabi
    - -mcpu=cortex-m4
    - -mthumb
    - -isystem
    - /opt/st/stm32cubeclt_1.21.0/GNU-tools-for-STM32/lib/gcc/arm-none-eabi/14.3.1/include
    - -isystem
    - /opt/st/stm32cubeclt_1.21.0/GNU-tools-for-STM32/arm-none-eabi/include
    - -isystem
    - /opt/st/stm32cubeclt_1.21.0/GNU-tools-for-STM32/arm-none-eabi/include/c++/14.3.1
    - -isystem
    - /opt/st/stm32cubeclt_1.21.0/GNU-tools-for-STM32/arm-none-eabi/include/c++/14.3.1/arm-none-eabi
    - -U__clang__
    - -D__PROGRAM_START=Reset_Handler

Index:
  Background: Build

Diagnostics:
  UnusedIncludes: None

---
If:
  PathMatch: .*\.cpp
CompileFlags:
  Compiler: arm-none-eabi-g++
---
If:
  PathMatch: .*\.c
CompileFlags:
  Compiler: arm-none-eabi-gcc
